<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/auth.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
</head>

<body class="text-center">
<form class="col-md-4" th:action="@{/example4}" th:object="${user}" method="post" role="form">
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{name}" id="inputName" placeholder="Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{lastName}" id="inputLastName" placeholder="Last name">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" th:field="*{email}" id="inputEmail3" placeholder="Email">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPassword6" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" th:field="*{password}" id="inputPassword6" placeholder="Password">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>

    <span th:utext="${successMessage}"></span>
</form>

</body>
</html>
